---
import PostLayout from '@/layouts/PostLayout.astro'
import Abouts from '@/components/About.astro'
---


<PostLayout  title="Sobre Nosotros IEEE" description=" IEEE UNTELS 2024">
    <main>
        <Abouts/>
    </main>
</PostLayout>