---
import PostLayout from '../layouts/PostLayout.astro'
import ChaptersIEEE from '../components/Chapters.astro' 
---


<PostLayout  title="Sobre Nosotros IEEE" description=" IEEE UNTELS 2024">
    <main>
        <ChaptersIEEE/>
        
    </main>
</PostLayout>