---
import PostLayout from "../layouts/PostLayout.astro";
import JoinUs from "../components/Join.astro";
---

<PostLayout
  title="Únete"
  description="Aqui podras encontrar como realizar tu registro"
>
  <main>
    <JoinUs />
  </main>
</PostLayout>
