---
import PostLayout from '../layouts/PostLayout.astro'
import MembersIEEE from '../components/Members.astro'
---


<PostLayout  title="miembros de IEEE UNTELS" description="Miembros">
    <main>
        <div> Miembros lideres 2024</div>
        <MembersIEEE/>
        
    </main>
</PostLayout>