---
import PostLayout from '@/layouts/PostLayout.astro'
import ProjectsC from '@/components/Projects.astro'
---


<PostLayout  title="Proyectos IEEE" description="Proectos tecnologicos realizados en IEEE UNTELS 2024">
    <main class="mt-12 m-12">
        
        <ProjectsC/>
        
    </main>
</PostLayout>