---
import PostLayout from "../layouts/PostLayout.astro";
import Portada from "./Portada.astro";
import Intro from "../components/Intro.astro";
import Bento from "../components/Bento.astro";
import PreFooter from "../components/PreFooter.astro";
---

<PostLayout title="IEEE UNTELS" description="Proyectos tecnologicos realizados en IEEE UNTELS 2024">
  <main>
    <Portada />
    <Intro />
    <Bento />
    <PreFooter />
  </main>

</PostLayout>

<style></style>
