---
import Layout from "../layouts/Layout.astro";
import Portada from "./Portada.astro";
import Intro from "../components/Intro.astro";
import Bento from "../components/Bento.astro";
import PreFooter from "../components/PreFooter.astro";
---

<Layout title="IEEE UNTELS" description="Proectos tecnologicos realizados en IEEE UNTELS 2024">
  <main>
    <Portada />
    <Intro />
    <Bento />
    <PreFooter />
  </main>

</Layout>

<style></style>
