---
import ChaptersItem from "./ChaptersItem.astro";
---


<section class="flex flex-row gap-8 mx-auto p-6 md:p-12 lg:p-20 items-center">
    <div class="flex flex-row flex-nowrap gap-4">

  <ChaptersItem
    class="w-1/4 lg:w-1/4"
    capitulo="WIE"
    nombre=" Women in Engineering"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-yellow-600
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg"/>
  </ChaptersItem>

  <ChaptersItem
  class="w-1/4 lg:w-1/4"
    capitulo="AP-S"
    nombre="Antennas & Propagation Society"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-yellow-600
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg" />
  </ChaptersItem>
  <ChaptersItem
  class="w-1/4 lg:w-1/4"
    capitulo="EMBS"
    nombre="Engineering in Medicine & Biology Society"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-yellow-600
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg"/>
  </ChaptersItem>
  
 <ChaptersItem class="w-1/4 lg:w-1/4"
 capitulo="IAS "
 nombre="Industry Applications Society"
 >
 <div
 slot="image"
 class="background transition-scale absolute bottom-0 left-0 top-0
-z-10 h-full w-full bg-yellow-600
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
>
</div>

<p slot="content" class="max-w-xl text-base md:text-lg"/>

 </ChaptersItem>

 <ChaptersItem class="w-1/4 lg:w-1/4"
 capitulo="CAS "
 nombre="Circuits & Systems Society"
 >
 <div
 slot="image"
 class="background transition-scale absolute bottom-0 left-0 top-0
-z-10 h-full w-full bg-yellow-600
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
>
</div>

<p slot="content" class="max-w-xl text-base md:text-lg"/>

 </ChaptersItem>

 <ChaptersItem class="w-1/4 lg:w-1/4"
 capitulo="PES"
 nombre=" Power & Energy Society"
 >
 <div
 slot="image"
 class="background transition-scale absolute bottom-0 left-0 top-0
-z-10 h-full w-full bg-yellow-600
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
>
</div>

<p slot="content" class="max-w-xl text-base md:text-lg"/>

 </ChaptersItem>

 <ChaptersItem class="w-1/4 lg:w-1/4"
 capitulo="RAS "
 nombre="Robotics & Automation Society"
 >
 <div
 slot="image"
 class="background transition-scale absolute bottom-0 left-0 top-0
-z-10 h-full w-full bg-yellow-600
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
>
</div>

<p slot="content" class="max-w-xl text-base md:text-lg"/>

 </ChaptersItem>

 <ChaptersItem class="w-1/4 lg:w-1/4"
 capitulo="CS "
 nombre="Computer Society "
 
 >
 <div
 slot="image"
 class="background transition-scale absolute bottom-0 left-0 top-0
-z-10 h-full w-full bg-yellow-600
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
>
</div>

<p slot="content" class="max-w-xl text-base md:text-lg"/>

 </ChaptersItem>
</section>

<script>

</script>
