---
import ChaptersItem from "./ChaptersItem.astro";
---


<section class="grid grid-rows-2 gap-8 mx-auto p-6 md:p-12 lg:p-20">
  <div class="grid grid-rows-4 grid-flow-col gap-4 space-y-4 mt-20  ">
   
  <ChaptersItem
  
    class="w-[578px]"

    capitulo="WIE"
    nombre=" Women in Engineering"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
  -z-10 h-full w-full bg-blue-700 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg"/>
  </ChaptersItem>

  <ChaptersItem
  class="w-[579px]"
    capitulo="AP-S"
    nombre="Antennas & Propagation Society"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
      -z-10 h-full w-full bg-blue-700 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg" />
  </ChaptersItem>
  <ChaptersItem
  class="w-[579px]"
    capitulo="EMBS"
    nombre="Engineering in Medicine & Biology Society"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
  -z-10 h-full w-full bg-blue-700 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg"/>
  </ChaptersItem>
  
 <ChaptersItem class="w-[579px]"
 capitulo="IAS "
 nombre="Industry Applications Society"
 >
 <div
 slot="image"
 class="background transition-scale absolute bottom-0 left-0 top-0
 -z-10 h-full w-full bg-blue-700 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
>
</div>

<p slot="content" class="max-w-xl text-base md:text-lg"/>

 </ChaptersItem>

 <ChaptersItem class="w-[579px]"
 capitulo="CAS "
 nombre="Circuits & Systems Society"
 >
 <div
 slot="image"
 class="background transition-scale absolute bottom-0 left-0 top-0
  -z-10 h-full w-full bg-blue-700 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
>
</div>

<p slot="content" class="max-w-xl text-base md:text-lg"/>

 </ChaptersItem>

 <ChaptersItem class="w-[579px]"
 capitulo="PES"
 nombre=" Power & Energy Society"
 >
 <div
 slot="image"
 class="background transition-scale absolute bottom-0 left-0 top-0
  -z-10 h-full w-full bg-blue-700 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
>
</div>

<p slot="content" class="max-w-xl text-base md:text-lg"/>

 </ChaptersItem>

 <ChaptersItem class="w-[579px]"
 capitulo="RAS "
 nombre="Robotics & Automation Society"
 >
 <div
 slot="image"
 class="background transition-scale absolute bottom-0 left-0 top-0
 -z-10 h-full w-full bg-blue-700 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
>
</div>

<p slot="content" class="max-w-xl text-base md:text-lg"/>

 </ChaptersItem>

 <ChaptersItem class="w-[579px]"  
 capitulo="CS "
 nombre="Computer Society "
 
 >
 <div
 slot="image"
 class="background transition-scale absolute bottom-0 left-0 top-0
  -z-10 h-full w-full bg-blue-700 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
>
</div>

<p slot="content" class="max-w-xl text-base md:text-lg"/>

 </ChaptersItem>
</section>

<script>

</script>
   