---
import Logo from "@/components/Logo.astro";
---
<section
  class="relative z-10 mx-auto my-24 max-w-[70ch] text-pretty px-6 text-left text-xl sm:px-20"
>
  <Logo class="m-auto mb-10 h-auto w-16 text-white" />
  <h1
    class="mx-auto mb-10 text-wrap text-center text-4xl font-semibold tracking-wide"
  >
    Revisa Nuestros Beneficios y Actividades
    <br />
    Impulsa tu Carrera con IEEE UNTELS
  </h1>
  <p class="mx-auto mb-10 text-wrap text-center text-lg">
    En IEEE UNTELS, no solo aprendes sobre tecnolog칤a e ingenier칤a; te sumerges
    en un mundo de innovaci칩n pr치ctica y colaborativa. Participa en nuestros
    programas de mentor칤a, colabora en proyectos de investigaci칩n punteros y
    conecta con l칤deres de la industria. Prepara tu futuro con acceso a recursos
    exclusivos y oportunidades globales en el campo de la ingenier칤a.
  </p>
  <!-- Ajuste en la clase del bot칩n para centrarlo -->
  <button class="bg-yellow-500 hover:bg-green-500 text-white font-bold py-2 px-4 rounded-full mx-auto block">
    Descubre c칩mo puedes involucrarte 游땙
  </button>
</section>
