---
import MembersItem from "./MembersItem.astro";
---

<section
  class={
  `w-full max-w-[1400px]
grid lg:grid-cols-10 auto-rows-[30rem] gap-4
mx-auto p-6 md:p-12 lg:p-20 items-center
`}
>
  <MembersItem
    class="col-span-10 lg:col-span-6"
    nombre="Steve"
    apellido="gomez"
    cargo="presidente"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-yellow-600
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg"/>
  </MembersItem>
  <MembersItem
    class="col-span-10 lg:col-span-6"
    nombre="Tatiana"
    apellido="Barboza"
    cargo="subpresidenta"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-yellow-600
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg" />
  </MembersItem>
  <MembersItem
    class="col-span-10 lg:col-span-6"
    nombre="Daiana"
    apellido="B0000"
    cargo="Tesorera"
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-yellow-600
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
    >
    </div>

    <p slot="content" class="max-w-xl text-base md:text-lg"/>
  </MembersItem>
  
 <MembersItem class="col-span-10 lg:col-span-6"
 nombre="Pepito "
 apellido="Perez"
 cargo="Web Master">
 <div
 slot="image"
 class="background transition-scale absolute bottom-0 left-0 top-0
-z-10 h-full w-full bg-yellow-600
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
>
</div>

<p slot="content" class="max-w-xl text-base md:text-lg"/>

 </MembersItem>
</section>

<script>

</script>
