---
import MembersItem from "./MembersItem.astro";
---

<section class="grid grid-cols-1 sm:grid-cols-3 gap-4">
  <MembersItem
    class="p-4"
    nombre="Steve"
    apellido="gomez"
    imagen="/public/projects.jpg"
    cargo="presidente"
  >
  </MembersItem>

  <MembersItem
    class="p-4"
    nombre="Tatiana"
    apellido="Barboza"
    imagen="/public/projects.jpg"
    cargo="subpresidenta"
  >
  </MembersItem>

  <MembersItem
    class="p-4"
    nombre="Tatiana"
    apellido="Barboza"
    imagen="/public/projects.jpg"
    cargo="subpresidenta"
  >
  </MembersItem>
  
</section>

<script>

</script>