---
interface Props {
  class?: string;
  nombre?: string;
  apellido?: string;
  cargo?: string;
  imagen?: string;
  // content?:string;
}
const { nombre, apellido, cargo, imagen } = Astro.props;
---
<article>
  <div class="flex items-center justify-center pt-28 pb-4 px-5">
    <div
      class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs"
    >
      <img
        class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto"
        src={imagen}
        alt="product designer"
      />


    </div>
  </div>
</article>
