---
interface Props {
  class?: string;
  nombre?: string;
  apellido?: string;
  cargo?: string;
  imagen?: string;
  // content?:string;
}
const { nombre, apellido, cargo, imagen } = Astro.props;
---
<article>
  <div class="flex items-center justify-center pt-28 pb-4 px-5">
    <div
      class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs"
    >
      <img
        class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto"
        src={imagen}
        alt="product designer"
      />

      <h1 class="text-lg text-gray-700">{nombre} {apellido}</h1>
      <h3 class="text-sm text-gray-400">{cargo}</h3>

      <p class="text-xs text-gray-400 mt-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <button
        class="bg-indigo-600 px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide"
      >
        Hire Me
      </button>
    </div>
  </div>
</article>
