---
import MembersItem from "./MembersItem.astro";
---

<section class="grid grid-cols-1 sm:grid-cols-3 gap-4">
  <MembersItem
    class="p-4"
    nombre="Steve"
    apellido="gomez"
    imagen="steve.jpeg"
    cargo="Presidente"
  >
  </MembersItem>

  <MembersItem
    class="p-4"
    nombre="Harold"
    apellido="x"
    imagen="projects.jpg"
    cargo="Vice-Presidente"
  >
  </MembersItem>

  <MembersItem
    class="p-4"
    nombre="Allison"
    apellido="x"
    imagen="x.jpeg"
    cargo="Secretaria"
  >
  </MembersItem>

  <MembersItem
    class="p-4"
    nombre="Alondra"
    apellido="x"
    imagen="alondra.jpeg"
    cargo="Tesorera"
  >
  </MembersItem>

  <MembersItem
    class="p-4"
    nombre="Alondra"
    apellido="x"
    imagen="x.jpeg"
    cargo="Tesorera"
  >
  </MembersItem>
  
</section>

<script>

</script>