
<select class="bg-gray-700 text-gray-200 border-0 rounded-md p-2 mb-4 focus:bg-gray-600 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" id="instituciones">
    <option value="">elija alguna de nuestra especializaciones</option>
    <option value="option-1">WIE(Women in Engineering)</option>
    <option value="option-2">CAS(Circuits & Systems Society)</option>
    <option value="option-3">AP-S(Antennas & Propagation Society)</option>
    <option value="option-4">PES(Power & Energy Society)</option>
    <option value="option-5">AP-S(Antennas & Propagation Society)</option>
    <option value="option-6">EMBS(Engineering in Medicine & Biology Society)</option>
    <option value="option-7">IAS(Industry Applications Society)</option>
    <option value="option-8">CS(Computer Society)</option>
</select>