<div class="w-full relative">
  <img
    class="absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto"
    src="/ieee.jpg"
    alt="IEEE Student Branch - Community"
  />
  <img
    class="w-full h-screen object-cover object-top animate-ease-in-out animate-fade animate-duration-1000"
    src="./tech-blue.jpg"
    alt="ImagenPortada"
    style="clip-path: polygon(0 0, 100% 0, 100% 82%, 44% 100%, 42% 100%, 0 85%);"
  />
</div>
