---
import Footer from "@/components/Footer.astro";
import Layout from "@/components/Layout.astro";
import Logo from "@/components/Logo.astro";

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout  title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>

    <main class="text-center">
        <h1 class="mx-auto mt-28 mb-10 text-wrap text-center text-4xl font-semibold tracking-wide">Sección de Proyectos</h1>

        <h2 class="text-center">
          ¡Bienvenido a la sección de Proyectos! Este espacio está dedicado a compartir contigo las ideas,
        </h2>
        <h2 class="text-center">
          iniciativas y acciones que estamos impulsando para alcanzar nuestros objetivos.
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
            
            <div class="md:col-span-7 rounded-lg shadow-lg p-3 m-6">
              <h3>Title of Project</h3>
              <p>Type of project, details (time, people involved)</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt expedita incidunt harum ipsam quibusdam debitis adipisci voluptas quasi aliquid quisquam, excepturi exercitationem corporis delectus. Vel temporibus ipsum quaerat exercitationem vitae!</p>

            </div>
            
            <div class="md:col-span-5 m-6">
              <img src="/projects.jpg" alt="Project Image" class="rounded-lg h-full object-cover">
            </div>
          
            <div class="md:col-span-7 rounded-lg shadow-md p-3 m-6">
              <h3>Title of Project</h3>
              <p>Type of project, details (time, people involved)</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt expedita incidunt harum ipsam quibusdam debitis adipisci voluptas quasi aliquid quisquam, excepturi exercitationem corporis delectus. Vel temporibus ipsum quaerat exercitationem vitae!</p>
            </div>
            
            <div class="md:col-span-5 m-6">
              <img src="/projects.jpg" alt="Project Image" class="rounded-lg h-full object-cover">
            </div>

            <div class="md:col-span-7 rounded-lg shadow-md p-3 m-6">
                <h3>Title of Project</h3>
                <p>Type of project, details (time, people involved)</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt expedita incidunt harum ipsam quibusdam debitis adipisci voluptas quasi aliquid quisquam, excepturi exercitationem corporis delectus. Vel temporibus ipsum quaerat exercitationem vitae!</p>
            </div>
              
            <div class="md:col-span-5 m-6">
              <img src="/projects.jpg" alt="Project Image" class="rounded-lg h-full object-cover">
            </div>

        </div>

    </main>
    <Footer />
</Layout>